.container {
  max-width: 70ch;
  padding: 2ch;
  margin: auto;
  z-index: 100;
}

h1 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #ffffff;
  text-shadow: 1px 1px #000000;
  font-size: 2em;
}
