/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Lato|Oswald');

body {
  background-color: rgb(222,222,222);
  min-height: 100vh;
}

nav {
  width: 100%;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 12px 0;
}

nav a {
  text-decoration: none;
}

nav a:hover {
  opacity: 0.75;
}

nav img {
  margin: 4px;
  width: 48px;
  /* #48b8a7 */
}

main,
.shades {
  max-width: 70ch;
  margin: auto;
  padding: 0;
}

.shades {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

.shades img {
  width: 100%;
}



@media (max-width: 414px) {


}
