/* Button/highlight colour: #48b8a7 */

html {
  box-sizing: border-box;
  background-color: #282829;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
  background-color: #dedede;
  max-width: 100ch;
  min-height: 100vh;
  margin: auto;
  padding: 0;
}

h1 {
  font-weight: 200;
  font-size: 2.6rem;
  letter-spacing: 0.2rem;
}

.album {
  text-align: center;
}

.album a {
  text-decoration: none;
  color: rgb(161,19,246);
}

.album a:hover {
  color: #48b8a7;
}

.social {
  width: 100%;
  text-align: center;
  padding: 20px 0;
}

.social img {
  margin: 0 2px;
  width: 50px;
}

.social a {
  text-decoration: none;
}

.social a:hover {
  opacity: 0.5;
}

.shades {
  padding-top: 10px;
}

.shades img,
.bio img {
  width: 100%;
  padding: 0;
  margin: 0;
}

.bio {
  border-top: 2px solid rgb(224,86,145);
}

.video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.video iframe,
.video object,
.video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Slightly smaller social buttons for skinny phones */
@media only screen and (max-width: 370px) {
  .social img {
    width: 44px;
  }
}
