/* Button/highlight colour: #48b8a7 */

body {
  background-color: #dedede;
  min-height: 100vh;
}

nav {
  width: 100%;
  text-align: center;
  margin: 20px 0 20px 0;
}

nav a {
  text-decoration: none;
}

nav a:hover {
  opacity: 0.5;
}

nav img {
  margin: 0 2px;
  width: 50px;
}

main,
.shades {
  max-width: 70ch;
  margin: auto;
  padding: 0;
}

.shades {
  margin: 0;
}

.shades img, .bio img {
  width: 100%;
}

.shades a:hover {
  opacity: 0.75;
}

.video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.video iframe, .video object, .video embed {
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 370px) {
  nav img {
    width: 44px;
    margin: 2px;
  }
}
